@import 'switch.scss';

.bubble-capture {
  div {
    margin: 10px;
    border: 1px solid blue;
  }
}

.scroll-to {
  .scroll-content {
    height: 500px;
    width: 500px;
    border: 3px solid blue;
    margin: 10px;
    padding: 100px;
  }
}

.css-grid {
  * {box-sizing: border-box;}
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }

  .wrapper > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
  }.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }
}

.raf-demo {
  width: 500px;
  height: 70px;
  padding-top: 10px;
  border: 1px solid red;

  .raf-demo--box {
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    background-color: blue;
  }
}

.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 5px;
  .piece {
    border: 1px solid;
  }
}

.bubble-sort {
  width: 400px;

  .line {
    background-color: red;
    height: 10px;
    margin-bottom: 10px;
  }
}
