<div class="scroll-to">
  <button onclick={{action "scrollTo" "c-1"}}>one</button>
  <button onclick={{action "scrollTo" "c-2"}}>two</button>
  <button onclick={{action "scrollTo" "c-3"}}>three</button>

  <div class="scroll-content" id="c-1">One</div>
  <div class="scroll-content" id="c-2">Two</div>
  <div class="scroll-content" id="c-3">Three</div>
</div>
