body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#header {
	position : absolute;
	top: 5px;
	left: 20px;
	height: 50px;
}
#map_canvas {
	position: absolute;
	top: 60px;
	left: 20px;
	width:700px;
	height:400px;
	border: 2px inset;
}

#stats {
	position:absolute;
	top: 55px;
	left: 820px;
	height: 500px;
	width: 500px;
}

#expenses_table {
	position:absolute;
	top: 490px;
	left: 20px;
//	height: 400px;
	width: 700px;
	padding-bottom: 40px;
}

table, th, td {
	border: 1px inset;
	text-align: center;
}